body{
background-image: url(../image/bg-faq.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
}
h2{
    text-align: center;
}

.title-guide {
    text-align: center;
    margin: 0;
    font-family: 'Cookie', sans-serif;
    font-size: 60px;
}

.paragraph-about {
    font-family: 'Lobster', sans-serif;
    font-size: 26px;
    margin: 0;
}
.paragraph-about a {
    font-size: 15px;
}
