body{
background-image: url(../image/bg-faq.jpg);
background-size: cover;
background-position: center;
background-attachment: local;
background-repeat: no-repeat;
}
h2{
    text-align: center;
}

.title-guide {
    text-align: center;
    margin: 0;
    font-family: 'Cookie', sans-serif;
    font-size: 60px;
}

.paragraph-about {
    font-family: 'Lobster', sans-serif;
    font-size: 26px;
    margin: 0;
}
.paragraph-about a {
    font-size: 15px;
}
.answer-faq{
    font-family: 'Cookie', sans-serif;
    padding: 1px 400px;
    font-size: 16px;
    width: 100%;
}

.question-faq{
font-family: 'Lobster', sans-serif;
padding: 2px 400px;
font-size: 16px;
width: 100%;
}
