p {
    font-size: 20px;
    text-align: justify;
    font-family: Garamond;
}

b {
    font-size: 25px;
    font-family: Courier new;

}

h2 {
    
    border-top: 2px dotted black;
    text-align: center;
    font-family: 'Lobster';
    font-weight: bolder;
    border-bottom: 2px dotted black;
}

h3 {
    font-family: Garamond;
}