/*DEFAULT*/
h2{
    border-top: 2px dotted black ;
      text-align: center;
      font-family: 'Lobster';
      font-weight: bolder;
      border-bottom: 2px dotted black ;
    }
/*HEADER*/

    /*SIDESHOW*/
.sidebar{
    margin-top: 50px;
}

.casourel-style {
    max-height: 360px;
    /*THÊM THUỘC TÍNH MIN-HEIGHT ĐỂ LÀM HÌNH TO NHẤT.
    min-height: 660px;
    */
}

.paragraph-side {
    font-family: 'Cookie', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px black;
}
.test {
    margin: 0% 0;
    border: 1px solid black;
    height: 300px;
}

* {
    
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.silver {
    color: silver;
}

.breadcrumb {
    margin: 3.5% 0 0 0;
}

/*LOGO*/

.logo {
    float: left;
    margin-top: -10px;
    width: 40px;
    height: 40px;
    border-radius: 55% 55%;
}

.text-logo {
    font-weight: bold;
    margin-left: 10px;
    transition: 0.8s;
}

#myPages:hover .text-logo {
    font-size: 20px;
    color: dodgerblue;
}

/*MENU*/

.navbar-default {
    opacity: 1;
    background-color: beige;
    
}

.navbar-nav>li>a {
    text-transform: uppercase;
    font-family: 'Germania One';
    font-size: 20px;
    font-weight: bolder;
}

.navbar-default .navbar-nav li a:hover {
    
    color: black;
    border-bottom: 1px solid red;
    text-decoration: none;
    
}

#mainmenu li:hover ul.sub-menu {
    display: block;
}

#mainmenu ul.sub-menu {
    padding-left: 8px;
    font-family: 'Germania One';
    display: none;
}

#mainmenu ul.sub-menu li:hover {
    background-color: beige;
    color: black
}

.sub-menu {
    position: absolute;
    background-color: beige;
    opacity: 1;
    font-family: 'Germania One';
}

.sub-menu li {
    list-style: none;
    position: relative;
    display: block;
    padding: 8px 8px;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Germania One';
}

#mainmenu>li.has-child>a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f107";
    color: rgb(150, 149, 149);
    text-decoration: none;
}

/*Ticket*/
.ticket {
    float:right;
   
}

/*Footer*/
.sitemap {
    font-size: 10px;
    background-color: rgb(226, 226, 226);
    text-align: center;
    opacity: 0.8;
}
th{
    text-align: center;
    font-size: 14px;
}
th,td{
    font-family: 'Lobster';
    opacity: 0.9;
    text-decoration: none;
color: red;    
}
footer {
    text-align: center;
    }