#logo {
    float: left;
}
ul>li {
    position: relative;
    margin-left: 70px;
    list-style: none;
    float: left;
    background-color: blanchedalmond;
}

ul>li>a {
    display: block;
    padding: 3px 10px;
    float: right;
    text-decoration: none;
}

a img {
    padding-left: 60px;
    width: 90px;
}

#main_menu ul.sub-menu {
    position: absolute;
    padding: 25px 20px 0px 0px;


}